<div class="main">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/7082d6c898.js"></script>
  <div class="root">
    <h1>Svelte & hueta</h1>

    <div class="root-content">
      <div class="list">
        <input
          #newItem
          placeholder="todo"
          (keyup.enter)="addItem(newItem.value); newItem.value = ''"
          class="lg-text-input"
          id="addItemInput"
        />

        <button class="btn-primary add-button" (click)="addItem(newItem.value)">
          <fa-icon class="icon" [icon]="faCoffee"></fa-icon>
        </button>
        <br>
      </div>
      <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
        <ng-template #elseBlock>items</ng-template></h2>

      <ul>
        <li *ngFor="let item of items">
          <app-item (remove)="remove(item)" [item]="item"></app-item>
        </li>
      </ul>
    </div>
  </div>
</div>
